AI news workflow.json.json
{
  "name": "AI news",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -624,
        -176
      ],
      "id": "fa431ccc-1cec-469c-9760-bc859399902c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://aibusiness.com/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -464,
        -176
      ],
      "id": "beb3401d-592a-48ca-b19d-13e51b068b7e",
      "name": "RSS News Feed"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -256,
        -176
      ],
      "id": "55b45279-ef3f-4d07-bcca-e6b948f39148",
      "name": "Data Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an AI news summarizer assistant.\nAnalyze the news articles and create an email summary.\n\nFor each article:\n      Create a headline in ALL CAPS\n      Write a 2-3 sentence summary\n      Include the article link\n\nFormat as:\nSubject: Today's AI News\n\nHi there,\n\nHere's your AI news summary:\n\nHEADLINE IN CAPS\nSummary of what happened and why it matters...\nRead more: [link]\n\nBest regards,\nAI News Bot"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -48,
        -176
      ],
      "id": "d1c9d12e-d2f3-4d88-8c34-7ca7d1088530",
      "name": "AI summarization"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -48,
        64
      ],
      "id": "ffe9a17b-2d6b-4e83-82bd-4019d0ee2f18",
      "name": "Google Gemini Chat Model"
    
    },
    {
      "parameters": {
        "sendTo": "your-email@example.com",
        "subject": "Today's AI News For you",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -272,
        32
      ],
      "id": "fc34a385-ef97-4a77-9216-897296312177",
      "name": "Send a message",
      "webhookId": "8a8ee450-be11-48c8-9a70-5642e9052b4e"
    
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS News Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS News Feed": {
      "main": [
        [
          {
            "node": "Data Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Aggregate": {
      "main": [
        [
          {
            "node": "AI summarization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI summarization",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI summarization": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ef33b94a-4e7b-422c-9b34-b6ea06d0d6b2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "810416590d0654ece7531604547a2d48c286f9b5c7284b674b998b1bc08be144"
  },
  "nodeGroups": [],
  "id": "P9KUbWlSNU789ncn",
  "tags": []
}